$card-color: rgba(54, 0, 204, 0.555);
$card-header: crimson;
$card-body: rgb(40, 4, 124);
$card-footer: indigo;

.card{
  margin: 30px auto;
  background: $card-color;
  color:rgb(255, 255, 255);
  width: 400px;
  padding: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
  border-radius: 20px;            
}
.cardHeader{
  background: $card-header;
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
}
.cardBody{
  background: $card-body;
  padding: 20px;
}
.cardFooter{
  background: $card-footer;
  padding: 20px;
  border-radius: 00px 00px 20px 20px;
  display: flex;
  justify-content: space-between
}